[Unit]
Description=JsonStatsd service
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=/etc/sysconfig/jsonstatsd
ExecStart=/usr/bin/jsonstatsd --listen $INTERFACE --port $PORT --logdir $LOGDIR

[Install]
WantedBy=multi-user.target
